API_BASEURL=https://api-demodoc.digital.gob.cl/api
ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY3IiOnsiaWQiOjg4Mywibm9tYnJlcyI6IkFQSSBQb2xpY8OtYSBkZSBJbnZlc3RpZ2FjaW9uZXMgZGUgQ2hpbGUiLCJhcGVsbGlkb3MiOiJQREkiLCJlbnRpZGFkSWQiOjY2LCJlbnRpZGFkTm9tYnJlIjoiUG9saWPDrWEgZGUgSW52ZXN0aWdhY2lvbmVzIGRlIENoaWxlIiwiZW50aWRhZFNpZ2xhIjoiUERJIiwiY29udGV4dFR5cGUiOiJDVFhfQVBJIn0sInJvbGVzIjpbIlJPTEVfQVBJIl0sImp0aSI6ImVkZmUyZjg2LThkM2QtNGM5NS05NzkwLTYyZTBhZDkxM2NjNSIsImlzcyI6ImRvY3YzLnRlc3QuZGlnaXRhbC5nb2IuY2wiLCJpYXQiOjE3ODY2NjM4NzcsImV4cCI6MTc4NjY2NzQ3N30.WHembVe5YYZ1QrvN7luUAlp-zktqSt2Ig1kI5cuhke4